<div class="jumbotron text-center">
	<h1>Home</h1>
	<% if user_signed_in? %>
	<p>Welcome, <%= current_user.email %></p>

  <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "btn btn-primary") %>        

<% else %>

  	<%= link_to 'Login', new_user_session_path, :class => "btn btn-primary" %>

<% end %>
</div>