<div class="jumbotron">
	<h1>Editing Subscription</h1>

<%= render 'form', subscription: @subscription %>

<%= link_to 'Show', @subscription, :class => "btn btn-primary" %> |
<%= link_to 'Back', subscriptions_path, :class => "btn btn-primary" %>
</div>
