<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
          <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">10</span>
        <a class="navbar-brand" href="/">Home</a>
      </div>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/tells">Tell Library</a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/subscriptions">My Subcriptions</a>
            </li>
          <% end %>
        </ul>
    <form class="form-inline">
      <% if user_signed_in? %>

        <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "btn btn-primary") %>        

      <% else %>

          <%= link_to 'Login', new_user_session_path, :class => "btn btn-primary" %>

      <% end %>
    </form>
  </div>
</nav>